<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="listeLien">
      <!-- Ici le tabs, DANS ionic, DANS une tab bar... fonctionne comme le routerLink -->
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Liste Liens Utiles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addressource">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Ajouter Ressource</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="testuicompo">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Test UI</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Carmera Capacitor</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
