<ion-app>
  <!-- ici c'est le menu slider !!! pas le slideur !!! ni le bouton !!!-->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <!--Fin-->

  <!-- Permet de pouvoir faire le slide left and right sur le content global -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-app>
